body {
	background: white; margin: 0px; padding-bottom: 8px; font-family:"Times New Roman", serif; font-size: 14pt; word-wrap: break-word; overflow-wrap: break-word;margin: 0px auto; width: 810px; text-align: left;
}

#layout-content {
	background: white; border: currentColor; border-image: none; text-align: left; padding-top: 0em; padding-right: 1em; padding-left: 1em; vertical-align: top;
}
strong {
	font-weight: bold;
}
h1 {
	line-height: 1; padding-top: 0.5em; padding-bottom: 0.2em; margin-top: 0.7em; margin-bottom: 0.3em; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
h2 {
	line-height: 1; padding-top: 0.5em; padding-bottom: 0.2em; margin-top: 0.7em; margin-bottom: 0.3em; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
h3 {
	line-height: 1; padding-top: 0.5em; padding-bottom: 0.2em; margin-top: 0.7em; margin-bottom: 0.3em; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
h1 {
	font-size: 165%;
}
h2 {
	padding-top: 0.8em; font-size: 125%;
}
h2 + h3 {
	padding-top: 0.2em;
}
h3 {
	font-size: 110%; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.sort-link { 
	cursor: pointer; margin-right: 10px; font-weight: normal; text-decoration: underline;
}
.active {
	font-weight: bold;
}
.paper {
    margin: 10px 0;
}
.conference {
    /* font-style: italic; */
	font-size: 0.9em; /* 字体调小（相对于父元素的90%） */
	background-color: royalblue; /* 深色背景 */
    color: #ffffff; /* 白色文字，确保清晰可见 */
    padding: 1px 4px; /* 上下2px、左右6px的内边距 */
    border-radius: 3px; /* 轻微圆角，视觉更友好 */
    display: inline-block; /* 使背景只包裹文字内容 */
    margin: 1 2px; /* 与前后内容保持一点间距 */
}
.title {
    font-size: 100%; font-family:"Palatino", "Times New Roman", serif;
}
.author {
    font-size: 100%;
}
.paper-link {
    color: royalblue;
    font-size: 0.9em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); /* 添加半透明白色下划线 */
    transition: all 0.2s ease; /* 所有属性变化平滑过渡 */
}